<br />

<div class="booyah-box col-10 offset-1">
  <h1>About Us</h1>

  <p>
    Coach Keba joined the Team USA during the fall of 1986 at the age of sixteen and played in all five matches at the 1988 Summer Olympics in Seoul, South Korea. She helped the United States earn a bronze medal at the 2003 World Cup and a berth in the 2004 Summer Olympics in Athens.
There she finished in fifth place with the USA National Team.  
<br />

International Competitions<br />
1987 – NORCECA Continental Championships (silver medal)<br /><br />

1987 – Pan American Games (bronze medal)<br /><br />

1988 – Olympic Games (seventh place)<br /><br />

1989 – NORCECA Continental Championships (bronze medal)<br /><br />

2002 – World Championships (silver medal)<br /><br />

2003 – FIVB World Grand Prix (bronze medal)<br /><br />

2003 – World Cup (bronze medal)<br /><br />

2003 – NORCECA Zone Championships (gold medal)<br /><br />

2004 – FIVB World Grand Prix (bronze medal)<br /><br />

2004 – Olympic Games (fifth place)<br /><br />
  </p>
</div>