<br />
<section>
   <div class="container">
      <div id="gallery">
        <h2>All images</h2>
        <div class="row">
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <%= "IMG_7137.JPG" %></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="app/assets/images/gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="app/assets/images/gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="photo photo-type-line">
               <a href="gallery/IMG_7137.JPG" class="photo-hover">
                <div class="photo-info">
                  <div class="headline">Lorem Ipsum</div>
                  <div class="line"></div>
                  <div class="desc">Test test test</div>
                </div>
                <div class="mask"></div>
              </a>  
              <div class="photo-img"> <img src="gallery/IMG_7137.JPG"></div>
            </div>
          </div>
        </div>                        
      </div>
   </div>
</section>        

<!-- <div>
  <ul>
    <li><a href="#">Upload Photos</a></li>
    <li><a href="#">Create Category</a></li>
  </ul>
</div> -->
