<div class="overlay"></div>
<div class="home-video-wrapper">
  <%= video_tag "hero.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-lg">
    <%= image_tag "kpva.png", size: "300x300" %>
  </div>  
</div>
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Sept-Oct Training Plans</h3>
    <br />
    <p>This All-Star Training Team is a program solely dedicated to skill development.</p>    
  </div>

  <div class="col-12 col-sm">
    <h3>New Beginner Academy</h3>
    <br />
    <p>This All-Star Training Team is a program solely dedicated to skill development</p>    
  </div>

  <div class="col-12 col-sm">
    <h3>Club Season Tryouts</h3>
    <br />
    <p>This All-Star Training Team is a program solely dedicated to skill development</p>    
  </div>
</div>