<h1>Team Keba</h1>
<div class="hero">
  <br />
  <div class="frosty col-2 offset-1 text-center">
    <br />
    <h2>Let’s take your game to the next level!</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Sept-Oct Training Plans</h3>
    <br />
    <p>This All-Star Training Team is a program solely dedicated to skill development.</p>    
  </div>

  <div class="col-12 col-sm">
    <h3>New Beginner Academy</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>    
  </div>

  <div class="col-12 col-sm">
    <h3>Club Season Tryouts</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>    
  </div>
</div>