<div class="overlay"></div>
<div class="home-video-wrapper">
  

  <%= video_tag "test.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Sept-Oct Training Plans</h3>
    <br />
    <p>This All-Star Training Team is a program solely dedicated to skill development.</p>    
  </div>

  <div class="col-12 col-sm">
    <h3>New Beginner Academy</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>    
  </div>

  <div class="col-12 col-sm">
    <h3>Club Season Tryouts</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>    
  </div>
</div>