<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
<br />

<div class="booyah-box col-10 offset-1">
  <h1>News</h1>

  <p>
<div class="fb-page" data-href="https://www.facebook.com/KPVAELITES/" data-tabs="timeline, events" data-width="500" data-height="1500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/KPVAELITES/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KPVAELITES/">Team Keba</a></blockquote></div>
  </p>
</div>