@import "bootstrap";
@import "font-awesome";

.navbar {
  background: image_url('bg.png');
  box-shadow: 0px 1px 3px #2a2a2a;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.hero {
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.btn {
  border-radius: 0;
  background-color: #DC143C;
}

.btn:hover {
  background-color: #008CBA; 
  color: white;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;  
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.home_video {
 width: 100%;
 height: 100%;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.home-video-wrapper {
height: 10vh;
display: flex;
}

h1.home {
  color: white;
}

body {
  background: image_url('gun_metal.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Constantia, "Lucida Bright", "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color:LightGray;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #999999;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

h1, h2, h3, h4, h5, h6, navbar {
  margin: 0;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.lesson a {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;  
  font-size: 15px;
  }

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;  
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.hero-block {
  height: 370px;
  background-color: #E7717D;
}

.aboutus-block {
  background-color: #C2B9B0;
  color: white;
  text-align: center;
}

.aboutus-block h1 {
  color: teal;
  font-size:12vw;
}

.success-header-block {
  background: image_url('court.jpg') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.success-header-block h1 {
  color: teal;
  font-size:12vw;
}

.success-block {
  height: 75vh;
  background-color: #7D9F9E;
}

.success-block h1 {
  color: white;
  font-size:12vw;
}

.news-header-block {
  background: image_url('news.jpeg') no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: black;
} 

.news-header-block h1 {
  color: aqua;
  font-size:12vw;
} 

.news-block {
  height: 75vh;
  background-color: #E7717D;
  text-align: center;
}

.featured-header-block {
  background: image_url('serve.png') no-repeat fixed left, image_url('bump.png') no-repeat fixed center, image_url('dig.png') no-repeat fixed right;
  text-align: center;
  color: black;
} 

.featured-header-block h1 {
  color: black;
  font-size:12vw;
}

.featured-block {
  height: 75vh;
  background-color: #AFD275;
}